<div id="gregdiv">


<table id="gregtable">
{{#each greggames as |greggame|}}
<tr>
<div>{{#link-to "greggames.spades"}}<button class="greglink" {{action "routeToGame" greggame}}>{{greggame}}</button>{{/link-to}}</div>
</tr>
{{/each}}

</table>

{{outlet}}
</div>