<div class="container">

        {{#each games as |game|}}

            <section>
                <div class={{divClass}}>


                </div>

               {{!-- {{#link-to "greggames.cards.spades" tagName="button"}}{{game}} {{/link-to}} --}}
               
               <button {{action "viewGame" game}} >{{game}}</button>
            </section>
            <br/>


        {{/each}}

    
</div>
