<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">

   
            <li class="pageButtons">{{#link-to 'greggames' tagName='button'}}Home{{/link-to}}</li>
    
            <li class="pageButtons">{{#link-to 'greggames.about' tagName='button'}}About{{/link-to}}</li>
        
        
            <li class="pageButtons">{{#link-to 'greggames.cards' tagName='button'}}Card Games{{/link-to}}</li>
        

    </ul>
</div>