<div class="container">

        {{#each games as |game|}}

            <section>
                <div class="cardGame">


                </div>

               {{#link-to "greggames.cards.spades" tagName="button"}}{{game}} {{/link-to}}
            </section>


        {{/each}}

    
</div>
