<div id="gghomecont">
    <div class="container jumbotron" id="ggHeader">

        <h1 id="ggHeaderText">Craig's Gregarious Games</h1>

    </div>
    <div class="container" id="ggNav">
        {{greggames-nav}}
    </div>
    <div class="container">
            {{yield}}

    </div>

</div>