{{!-- <div id="gregdiv">


<table id="gregtable">

<tr>
<td><div>{{#link-to "cardgames"}}<button class="greglink" {{action "routeToGame" greggame}}>CARD GAMES</button>{{/link-to}}
</div></td>
</tr>


</table>


</div> --}}