<div class="container playerSeat">

<img class="backofcard cardSize" src="/assets/images/cards/CardBack.jpg" alt="Smiley face">

<img class="backofcard2 cardSize" src="/assets/images/cards/CardBack.jpg" alt="Smiley face">
<img class="backofcard3 cardSize" src="/assets/images/cards/CardBack.jpg" alt="Smiley face">
<img class="backofcard4 cardSize" src="/assets/images/cards/CardBack.jpg" alt="Smiley face">
</div>