.errorModal{

    position: absolute;
    top: 50%;
    left: -20%;
    background-color: rgb(241, 133, 10);
    width: 30%;
    height: 50%;
    color: white;
    font-size: 100%;
    text-align: center;
}