.errorModal{

    position: absolute;
    top: 50%;
    left: -20%;
    background-color:black;
    border: 8px solid yellow;
    width: 30%;
    height: 50%;
    color: white;
    font-size: 100%;
    text-align: center;
}