.gameOverModal{

    border: 1px solid black;
    z-index: 27;
    background-color: whitesmoke;
    height: 450%;
    width: 100%;
    left: 12%;
    top:-350%;
    position:absolute;
    border-radius:20px;
}