#gregAboutCont{

    background-color: whitesmoke;
    opacity: 0.75;
    text-align: left;
    height: 50%;
    font-size: 200%;
    margin-top:5%;
    width: 100%;
    

}

#gregAboutText{


    color: black;
}