.messageDiv{
    position: absolute;
    top: 100%;
    left: -10%;
    background-color:white;
    border: 1px dashed red;
    width: 50%;
    height: 50%;
    color: black;
    font-size: 200%;
    text-align: center;
}