.spadeButton{

    height: 300px;
    width: 300px;
  
    margin-top: 5%;
    border: 1px solid black;
    margin-left: 15%;
    font-size: 200%;

}

.spadeButtonDiv{
    // border: 1px solid black;
    color: red;
}

#spadeHomeCont{

    top: 55%;
    //position: relative;
    //border: 1px solid black;
    margin-top:2%;
    //height: 500px;
    //width: 500px;
}

#spadePanel{

    height: 100px;
    background-color: rgb(151, 129, 122);
    color: darkturquoise;
    font-size:500%;
    //padding-left: 2%;
}

.viewGamesDiv{
    font-size: 100%;
    border: 1px solid black;
    top: 5%;
    background-color: white;
    position: relative;
}