.playerSeat{


    height: 15%;
    border: 1px solid black;
    position: absolute;
    width: 90%;
    top: 10%;
    z-index:10;
    transform: rotate(90deg);
}

.cardSize{

    height:95%;
    width:10%;
}