.gameSection{

    background-color: black;
    border: 10px dotted red;
    color: lightblue;
}

#spadeListButton{

    height: 100px;
    width: 200px;
}

#playSpadeGameButton{

    height: 50px;
    width: 200px;
    color: black;
    background-color: red;
}