.spadeGameTable{

    border: 10px dotted yellow;
    background-color: green;
    height: 100%;
    position: absolute;
    width: 80%;
    margin-bottom: 10%;
    margin-left: -5%;
    
}

.startGameButton{

    position:absolute;
    top: 45%;
    left: 37%;
    height: 10%;
    width: 30%;
    background-color: blue;
    color: red;
    font-size: 200%;
}
.spadeGameTablePadding{

    position:fixed;
    height: 30%;
    background-color: blue;
}


.teamOne{

    border:1px solid black;
    display: table-cell;

}


.playerOne{

    height:100px;
    width: 80%;
    position:absolute;
    margin-top:100px;
    display: table-cell;
 
}


.playerThree{

    height:200px;
    width: 200px;
}