<div class="container" id="spadeHomeCont">

    <div class="container" id="spadePanel"><p>Spades</p> 
       </div>
        <div class="viewGamesDiv">{{#link-to "greggames.cards.spades.games"}} View Games{{/link-to}}</div>
    
    {{outlet}}

</div>