<div class="container" id="spadeHomeCont">

    <div class="container" id="spadePanel">
        <p>Spades</p>
    </div>
    <div class="viewGamesDiv">
        <button {{action "spadeGames"}}>View Games</button>


        <button {{action "spadeGamesHome"}}>Home Page</button>
    </div>

    {{!-- {{#link-to "greggames.cards.spades.games"}} View Games{{/link-to}} --}} {{outlet}}

</div>