

{{#greggames-simple}}
<div class="container" id="gregAboutCont">
    <p id="gregAboutText">
        This is website hosting Craig's most amazing, wondering, very, very good games.
        Click on the links above to explore!!!!</p>
</div>

{{/greggames-simple}}

